$app-background-color: #f5f5f5;
$header-color: #007aff;
$button-color: #ffffff;
$button-background: #007aff;

.App {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: $app-background-color;
  padding: 20px;
}

.header {
  color: $header-color;
}

.calendar-container {
  padding: 10px;
  border-radius: 5px;
}

input {
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: $button-background;
  color: $button-color;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: darken($button-background, 10%);
  }
}
